:root {
  --color-primary: 253 198 0;
  --color-secondary: 4 86 121;
  --color-dark: 20 20 20;
  --color-light: 240 240 240;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}