:root {
  --color-primary: 253 198 0;
  --color-secondary: 4 86 121;
  --color-dark: 20 20 20;
  --color-light: 240 240 240;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins', sans-serif;
}

.navbar-fixed {
  @apply fixed z-[9999] dark:bg-dark;
}

.nav-link{
  @apply text-base py-2 px-3 mx-6 flex hover:bg-primary/20 lg:mx-3;
}

.nav-link-active{
  @apply text-secondary border-b-2;
}

@layer components {
  .skip-link {
    @apply absolute no-underline -top-10 left-0 bg-primary text-light p-2 z-[999999];
  }

  .hamburger-line {
    @apply w-[30px] h-[2px] my-2 block bg-dark dark:bg-light;
  }
}

@layer utilities {
  .hamburger-active> span:nth-child(1) {
    @apply rotate-45;
  }
  .hamburger-active> span:nth-child(2) {
    @apply scale-0;
  }
  .hamburger-active> span:nth-child(3) {
    @apply -rotate-45;
  }

  .dropdown-link {
    @apply block pl-2 pr-4 py-2 mt-2 rounded-lg;
  }
}